.form-container-father{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 57, 57);
    max-width: 750px;
    padding: 2rem 0;
}
.input{
    padding: .5rem;
    color: white;
    width: 300px;
    margin-bottom: 1rem;
}
.error-advise{
    color: red;
    margin: 0;
    padding: 0;
    background-color: rgb(58, 57, 57);
}
.input-error-container{
    background-color: rgb(58, 57, 57);
}
.form-title{
    padding-bottom: 12px;
}
.buy-id{
    padding: 2rem 0;
}